.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 50px;
  background: #020617;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-link {
  text-decoration: none;
  color: white;
  font-size: 26px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-item {
  text-decoration: none;
  color: #94a3b8;
  font-size: 20px;
  transition: 0.3s ease;
  position: relative;
}

/* Hover underline animation */
.nav-item::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #38bdf8;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.nav-item:hover {
  color: #38bdf8;
}

.nav-item:hover::after {
  width: 100%;
}